# Python artifacts
__pycache__
*.egg-info
tensordict/version.py
.pytest_cache
build
tensordict/_tensordict.so

# docs build
docs/_data
docs/source/gen_modules
docs/source/reference/generated
docs/source/tutorials
docs/src

# Pycharm
.idea
