include README.md
include LICENSE
include version.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include tensordict *.so

exclude gallery/*
exclude tutorials/*
exclude packaging/*
exclude docs/*
